img/pieces/Chess_kdt45.svg
img/pieces/Chess_bdt45.svg
img/pieces/Chess_blt45.svg
img/pieces/Chess_klt45.svg
img/pieces/Chess_ndt45.svg
img/pieces/Chess_nlt45.svg
img/pieces/Chess_pdt45.svg
img/pieces/Chess_plt45.svg
img/pieces/Chess_qdt45.svg
img/pieces/Chess_qlt45.svg
img/pieces/Chess_rdt45.svg
img/pieces/Chess_rlt45.svg
