body {
    background-color: lightgray;
}

#chessboard {
    display: grid;
    grid-template-columns: repeat(8, 80px);
    grid-template-rows: repeat(8, 80px);
}

.cell {
    width : 80px;
    height : 80px;
    text-align: center;
    font-size: 60px;
}

.cell.black {
    background-color: darkgray;
}

.cell.white {
    background-color: white;
}

.piece {
    margin: 0;
    width: 90%;
}