body {
    background-color: gray;
}

#chessboard {
    display: grid;
    grid-template-columns: repeat(8, 80px);
    grid-template-rows: repeat(8, 80px);
}

.cell {
    width : 80px;
    height : 80px;
}

.cell.black {
    background-color: black;
}

.cell.white {
    background-color: white;
}